
include utils

doctype html
html(lang="en")
  head
    meta(charset='utf-8')

    title Sprits It!

    meta(name="description" content="sprits-it! - Awesome Speed-Reading")

    - var keywords = ['speed-reading', 'speed reading', 'reading', 'text', 'open source']
    - keywords = keywords.concat(['sprits-it', 'spritsit', 'spritz', 'open spritz'])

    meta(name="keywords" content=keywords)

    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    if !locals.assets
      - throw "ERROR: JSON settings object undefined!"

    // Validate browser support
    script#modernizr(src='#{locals.assets}js/min/modernizr.custom.min.js' sinkurl='{{ url_for(\'unsupported\') }}')

    // Local styles
    link(href='#{locals.assets}css/style.css' media='screen, projection' rel='stylesheet' type='text/css')

    // Favicon
    link(href="#{locals.assets}img/favicon.ico" rel="shortcut icon" )

    // Reading font
    link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet prefetch')

  body

    // Validate IE support
    != '<!--[if lt IE 9]>'
    script window.location.href = '{{ url_for('unsupported') }}';
    != '<![endif]-->'

    .spritz#spritz
      .spritz-word#spritz_word

    .settings
      .controls.settings-controls
        span.speed
          a.slower.entypo-minus#spritz_slower(href="#" title="Slow Down")
          input.wpm#spritz_wpm(type="number" value="300" step="50" min="50")
          a.faster.entypo-plus#spritz_faster(href="#" title="Speed Up")
        a.save.entypo-save#spritz_save(href="#" title="Save")
        span.interaction
          script var rwtitles = ["Forward", "Backward"]; //TODO:localization
          a.back.entypo-left-open#spritz_back(href="#" title="")
          a.pause.entypo-pause#spritz_pause(href="#" title="Pause/Play")
          a.forward.entypo-right-open#spritz_forward(href="#" title="")

      .alert-container
        span
          a#article-url(href='#', hidden)
          img#img-loading(src='#{locals.assets}img/progress.gif')
        span.alert#alert

      .controls.extra-controls
        .togglable.closed
          .zoom
            a.smaller.entypo-minus#spritz_smaller(href="#" title="Smaller")
            span.entypo-search(href="#" title="Smaller")
            a.bigger.entypo-plus#spritz_bigger(href="#" title="Bigger")
            a.light(href="#" title="Change Theme")
            a.erase-storage(href='#' title='Erase Local Storage')
          .autosave
            input.checkbox#autosave_checkbox(type="checkbox")
            label.checkbox-label.entypo-cancel#spritz_autosave(for="autosave_checkbox") auto-save on pause
          .bookmarklet-container
            a.bookmarklet#bookmarklet(href="#").
              Sprits It! Bookmarklet

        a.toggle.entypo-dot-3(href="#" title="Extra Controls")

      .words
        .controls.words-controls
          a.select.entypo-home#spritz_home(href="#" title="Home")
          a.refresh.entypo-cycle#spritz_refresh(href="#" title="Restart")
        .progress-bar#spritz_progress
        .progress-after
        article.demo-words#spritz_words

        p.centered ~ Enter Page Address ~

        form.custom-url-form(name="input-url", action="", method="get")
            button.custom-url-submit Sprits It!
            span: input.custom-url-input(type="text", name="url")

        //p Or copy the following Javascript code:
        //div.bmcode-container
        //  textarea.bmcode#bookmarklet-code(readonly).

        footer
          span &copy; the-happy-hippo 2014
          a#gh-link(href='http://the-happy-hippo.github.io/sprits-it') View the project on GitHub
          p#app-version version: {{ version }}

    script.
      var words_default = ["Spritz!",
        "Reading is inherently time consuming because your eyes have to move from word to word and line to line. Traditional reading also consumes huge amounts of physical space on a page or screen, which limits reading effectiveness on small displays. Scrolling, pinching, and resizing a reading area doesn't fix the problem and only frustrates people.",
        "Now, with compact text streaming from Spritz, content can be streamed one word at a time, without forcing your eyes to spend time moving around the page. Spritz makes streaming your content easy and more comfortable, especially on small displays. Our “Redicle” technology enhances readability even more by using horizontal lines and hash marks to direct your eyes to the red letter in each word, so you can focus on the content that interests you. Best of all, Spritz's patent-pending technology can integrate into photos, maps, videos, and websites to promote more effective communica-tion."];
      var gutenberg_alert = [
        "Unfortunately, Project Gutenberg folks do not allow book downloads by “automated tools”. They warn that: “The Project Gutenberg website is intended for human users only. Any perceived use of automated tools to access the Project Gutenberg website will result in a temporary or permanent block of your IP address.” See http://www.gutenberg.org/robot for more details.",
        "Please download this book from elsewhere, or just upload it to the cloud (e.g., Dropbox)."];
    -// Just for fun -- security by obscurity :)
    - var parsers = filter(locals.parsers, 'Readability')
    script!= "var parsers='" + escapify(JSON.stringify(parsers)) + "';"
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')

    if (locals.jsmin)
      script(src='#{locals.assets}js/min/utils.min.js')
      script(src='#{locals.assets}js/min/index.min.js')
    else
      script(src='#{locals.assets}js/utils.js')
      script(src='#{locals.assets}js/index.js')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50414046-2', 'spritsit.appspot.com');
      ga('send', 'pageview');

